Package: com.level3tjg.airpodsglyph
Name: AirPodsGlyph
Depends: mobilesubstrate, firmware (>=10.0)
Version: 1.1.1
Architecture: iphoneos-arm
Description: Replace the Bluetooth headphones icon with an AirPods icon
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
